@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

body {
    background-color: rgb(236, 236, 236);
}

/* CSS relativo all'header */

header {
    background-color: white;
    padding: 10px 20px;
}

#logo {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

#titolo-pagina {
    font-size: 30px;
    font-weight: 600;
}

/* CSS relativo al contenitore e alle sue parti */

#contenitore {
    width: 70%;
    margin: 30px auto 10px;
}

main, #sezione-pulsanti {
    background-color: white;
    border-radius: 5px;
    padding-left: 40px;
}

/* CSS relativo alla sezione dei due pulsanti */

#sezione-pulsanti {
    padding-top: 10px;
    padding-bottom: 5px;
}

.pulsante {
    padding: 5px 3px;
    border-radius: 3px;
    display: inline-block;
}

#pulsante-blu {
    background-color: rgb(26, 147, 187);
    color: white;
    border: solid 2px rgb(26, 147, 187);
}

#pulsante-bianco {
    background-color: white;
    color: lightgrey;
    border: solid 2px lightgrey;
}

/* CSS relativo al main che contiene tutte le task */

main {
    margin-top: 3px;
    padding-top: 40px;
}

.sezione-task {
    padding-bottom: 20px;
}

.titolo-sezione::before {
    content: "\25BC  ";
}

.task {
    font-size: 20px;
    margin-bottom: 10px;
}

.task-descrizione {
    margin-left: 5px;
}

.fatto .task-descrizione::before {
    content: "\2714";
    color: green;
    border: solid 1px green;
    border-radius: 50%;
    padding: 2px 4px;
}

.da-fare .task-descrizione::before {
    content: "\2718";
    color: red;
    border: solid 1px red;
    border-radius: 50%;
    padding: 2px 4px;
}

/* Questa parte assegna i bollini degli argomenti ai singoli task */

.argomento {
    font-size: 14px;
    color: white;
}

.editorial::after {
    content: "Editorial";
    background-color: rgb(14, 162, 221);
    border-radius: 10px;
    padding: 5px 10px;
}

.goals::after {
    content: "Q1 Goals";
    background-color: rgb(156, 41, 179);
    border-radius: 10px;
    padding: 5px 10px;
}

.recruiting::after {
    content: "Recruiting";
    background-color: rgb(41, 179, 94);
    border-radius: 10px;
    padding: 5px 10px;
}

.website::after {
    content: "Website";
    background-color: rgb(196, 103, 154);
    border-radius: 10px;
    padding: 5px 10px;
}