@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

body {
    background-color: rgb(236, 236, 236);
}

/* CSS relativo all'header */

header {
    background-color: white;
    padding: 10px 20px;
}

#logo {
    height: 50px;
    vertical-align: middle;
}

#titolo-pagina {
    font-size: 30px;
    font-weight: 600;
    vertical-align: middle;
}

/* CSS relativo al contenitore e alle sue parti */

#contenitore {
    width: 70%;
    margin: 30px auto 10px;
}

main, #sezione-pulsanti {
    background-color: white;
    border-radius: 5px;
    padding-left: 40px;
}

/* CSS relativo alla sezione dei due pulsanti */

#sezione-pulsanti {
    padding-top: 10px;
    padding-bottom: 5px;
}

.pulsante {
    padding: 5px 3px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
}

#pulsante-blu {
    background-color: rgb(26, 147, 187);
    color: white;
    border: solid 2px rgb(26, 147, 187);
}

#pulsante-bianco {
    background-color: white;
    color: lightgrey;
    border: solid 2px lightgrey;
}

/* CSS relativo al main che contiene tutte le task */

main {
    margin-top: 3px;
    padding-top: 40px;
}

.sezione-task {
    padding-bottom: 20px;
}

.titolo-sezione::before {
    content: "\25BC";
    margin-right: 10px;
}

.task {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Questa parte è relativa alle spunte "fatto" e "da fare" */

.task-circle::before {
    display: inline-block;
    font-size: 20px;
    height: 22px;
    width: 20px;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
    padding: 4px;
    margin-right: 10px;
}

.task-circle.check::before {
    content: "\2714";
    color: green;
    border: solid 1px green;
}

.task-circle.cross::before {
    content: "\2718";
    color: red;
    border: solid 1px red;
}


/* Questa parte assegna i bollini degli argomenti ai singoli task */

.argomento::after {
    font-size: 14px;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: 20px;
}

.argomento.editorial::after {
    content: "Editorial";
    background-color: rgb(14, 162, 221);
}

.argomento.goals::after {
    content: "Q1 Goals";
    background-color: rgb(156, 41, 179);
}

.argomento.recruiting::after {
    content: "Recruiting";
    background-color: rgb(41, 179, 94);
}

.argomento.website::after {
    content: "Website";
    background-color: rgb(196, 103, 154);
}